body {
	margin: 0;
	overflow-x: hidden;
}

#instructions {
	position: absolute;
	color: #666;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
#background {
	/* position: fixed; */
	background: black;
	overflow-x: hidden;
	z-index: -1;
  }
  .main{
	display: flex;
flex-wrap: wrap;
  }
  /* .container{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: white;
    margin: 16em 8em;
} */